@page
@model Flockbuster.Pages.SigninModel
@{
    ViewData["Title"] = "Sign in";
}

<div class="container d-flex justify-content-center text-center postition-relative">
    <div class="col-sm-2 position-absolute top-50 start-50 translate-middle">
        <div class="col shadow-lg p-3 mb-5 bg-body-tertiary rounded">
            <h1 class="h3 mb-2 fw-normal">Sign in</h1>
            <form method="post"
                  id="SignInPage">
                <div class="form-floating my-2">
                    <input type="email"
                           class="form-control"
                           id="eMailInput"
                           placeholder="Email address"
                           asp-for="Mail">
                    <label for="eMailInput">Email address</label>
                </div>
                <div class="form-floating my-2">
                    <input type="password"
                           class="form-control"
                           id="passwordInput"
                           placeholder="password"
                           asp-for="Password">
                    <label for="passwordInput">Password</label>
                </div>
                <div asp-validation-summary="All" class="text-danger"></div>
                <button type="submit" class="btn btn-primary btn-group">
                    Sign in
                </button>
            </form>
            <p>Not a user yet? Sign up by clicking <a href="/signup">here</a></p>
        </div>
    </div>
</div>

@section scripts{
    <partial name="_ValidationScriptsPartial" />
}