@page
@model Flockbuster.Pages.error._403Model
@{
    ViewData["Title"] = "403: Forbidden";
}

<div class="postition-relative">
    <div class="position-absolute top-50 start-50 translate-middle text-center">
        <h1>403</h1>
        <h4>Forbidden</h4>
        <p>Sorry but You don't have access to this page</p>
        <form method="post">
            <button type="submit" class="btn btn-primary">Go to home page</button>
        </form>
    </div>
</div>