html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: white;
  color: #3A3B3C;
}

a {
    text-decoration:none;
}

#snackbar {
    visibility: hidden;
    min-width: 250px; 
    margin-left: -125px; 
    background-color: #fff; 
    color: #000; 
    text-align: center; 
    border: solid;
    border-color: #e9e9e9;
    border-radius: 6px;
    padding: 16px;
    position: fixed;
    z-index: 1; 
    left: 90%;
    top: 40px; 
}

    #snackbar.show {
        visibility: visible; 
        webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
        animation: fadein 0.5s, fadeout 0.5s 2.5s;
    }

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {
        top: 0;
        opacity: 0;
    }

    to {
        top: 40px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        top: 0;
        opacity: 0;
    }

    to {
        top: 40px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        top: 50px;
        opacity: 1;
    }

    to {
        top: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        top: 40px;
        opacity: 1;
    }

    to {
        top: 0;
        opacity: 0;
    }
}

div.scrollmenu {
    background-color: transparent;
    overflow: auto;
    height: 300px;
    white-space: nowrap;
}

    div.scrollmenu img {
        display: inline-block;
        color: white;
        text-align: center;
        padding: 14px;
        text-decoration: none;
        height: 270px;
        width: 190px;
    }

        div.scrollmenu img:hover {
            transform: scale(1.03);
        }

div #movies {
    background-color: transparent;
}

    div #movies img {
        color: white;
        text-align: center;
        padding: 14px;
        text-decoration: none;
        height: 345px;
        width: 245px;
    }

        div #movies img:hover {
            transform: scale(1.03);
        }