@page
@using Flockbuster.Domain.Models;
@model Flockbuster.Pages.Admin.Edit.UserModel
@{
    ViewData["Title"] = "Edit - User";
}

<div class="container">
    <div class="row gutters">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="card h-100 shadow p-3 mb-5 bg-body-tertiary rounded">
                <div class="card-body">
                    <form method="post">
                        <div class="row gutters">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <h6 class="mb-2 text-primary">User Details</h6>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="firstNameInput">First name</label>
                                    <input type="Text"
                                           class="form-control"
                                           id="firstNameInput"
                                           value="@Model.UserFirstName"
                                           asp-for="FirstName">
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="lastNameInput">Last name</label>
                                    <input type="Text"
                                           class="form-control"
                                           id="lastNameInput"
                                           value="@Model.UserLastName"
                                           asp-for="LastName">
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="emailAddressInput">Email address</label>
                                    <input type="email"
                                           class="form-control"
                                           id="emailAddressInput"
                                           value="@Model.User.Email"
                                           asp-for="EmailAddress">
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="ageInput">Age</label>
                                    <input type="number"
                                           class="form-control"
                                           id="ageInput"
                                           value="@Model.User.Age"
                                           asp-for="Age">
                                </div>
                            </div>
                        </div>
                        <div class="row gutters">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <h6 class="mt-3 mb-2 text-primary">Users new Password</h6>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="passwordInput">Password</label>
                                    <input type="password"
                                           class="form-control"
                                           id="passwordInput"
                                           placeholder="Password"
                                           asp-for="Password">
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="confirmPasswordInput">Confirm password</label>
                                    <input type="password"
                                           class="form-control"
                                           id="confirmPasswordInput"
                                           placeholder="Confirm password"
                                           asp-for="ConfirmPassword">
                                </div>
                            </div>
                        </div>
                        <div class="row gutters">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <h6 class="mt-3 mb-2 text-primary">Admin password</h6>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="adminInput">Password</label>
                                    <input type="password"
                                           class="form-control"
                                           id="adminPasswordInput"
                                           placeholder="Password"
                                           asp-for="AdminPassword">
                                </div>
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            </div>
                            <div class="container col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 d-flex align-items-center mt-3">
                                <div class="form-group">
                                    @{
                                        if (Model.User.IsAdmin)
                                        {
                                            <input type="checkbox"
                                                   id="isAdminInput"
                                                   asp-for="IsChecked"
                                                   checked>
                                        }
                                        else
                                        {
                                            <input type="checkbox"
                                                   id="isAdminInput"
                                                   asp-for="IsChecked">
                                        }
                                    }
                                    <label for="isAdminInput">Is this user admin?</label>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary mt-3" asp-page-handler="Update">
                            Update
                        </button>
                        <button type="submit" class="btn btn-secondary mt-3" asp-page-handler="Cancel">
                            Cancel
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

